:root {
    --text-color: ghostwhite;
    --important-text: #C83200;
    --background-color: white;
    --gray: rgb(43, 42, 42);
    --font: georgia, serif;
}


body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*TOP*/

.top {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--background-color);
}

.header {
    color: var(--important-text);
}

a {
    text-decoration: none;
}

.policy-nav {
    display: none;
    color: var(--important-text);
}

#charlie {
    height: 70px;
}

/*INFO*/

.info {
    text-align: center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(45,45,181,1) 96%);
}

.slogan {
    margin: 15px;
}

.slogan:nth-child(1) {
    margin-bottom: 0;
}

.slogan:nth-child(2) {
    margin-bottom: 35px;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.contact {
    background-color: var(--background-color);
    color: black;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 1px 5px 5px #000000;
}

.form-group {
    font-size: 26px;
    font-weight: 800;
    width: 95%;
}

.form-group input,
.form-group textarea {
    width: 100%;
    margin-top: 5px;
    font-size: 24px;
}

.form-group textarea {
    resize:none;
}

button[type="submit"] {
    align-self: flex-start;
    width: 100%;
    max-width: 450px;
    font-family: var(--font);
    border: none;
    outline: none;
    padding: 15px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: 200ms;
    background-color: var(--important-text);
    color: var(--text-color);
}

button[type="submit"]:hover {
    background-color: #00688B;
    cursor: pointer;
}

#charlie2 {
    display: none;
    width: 40%;
}

/*BENEFITS*/

.benefits {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    width: 100px;
    border-radius: 50px;
}

.quote {
    margin: 10px;
    width: 80%;
}

.testimonial {
    font-size: 20px;
    color: var(--gray);
}

/*VEHICLE*/

.vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    width: 100%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(45,45,181,1) 96%);
}

#van {
    width: 60%;
    box-shadow: 1px 5px 5px #000000;
}

.vehicle-name {
    color: var(--text-color);
    margin-bottom: 0;
}

.vehicle-type {
    font-size: 16px;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 20px;
}

.vehicle-details {
    margin-top: 0px;
    background-color: var(--background-color);
    width: 55%;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 1px 5px 5px #000000;
    
}

.detail {
    margin-top: 10px;
    font-weight: 600;
    word-spacing: 2px;
}

.detail:last-of-type {
    margin-bottom: 10px;
}

/*POLICY*/

.private-policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--background-color);
}

.policy {
    color: var(--important-text)
}

.policy-info {
    margin-top: 0;
    width: 55%;
    border: 1px solid var(--gray);
    word-spacing: 5px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

/*BUSINESS*/

.business {
    width: 100%;
}

.availability {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.numbers {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 15px;
}

#up-arrow {
    height: 50px;
}

/*Footer*/

footer {
    text-align: center;
    margin: 0;
    background-color: rgb(20, 20, 20);
    color: var(--text-color);
}

/*RESPONSIVE*/

@media screen and (max-width: 330px) {
    
    .top {
        height: 70px;
    }
    
    .header {
        font-size: 18px;
    }

    #charlie {
        height: 50px
    }

    .slogan {
        margin: 5px;
        font-size: 20px;
    }

    .contact {
        width: 80%;
        margin-bottom: 15px;
    }
    
    .form-group {
        font-size: 18px;
        font-weight: 800;
        width: 95%;
    }
    
    .form-group input,
    .form-group textarea {
        width: 100%;
        margin-top: 5px;
        font-size: 18px;
    }

    button[type="submit"] {
        font-size: 18px;
    }

    .vehicle-name {
        font-size: 18px;
    }

    .vehicle-details {
        font-size: 14px;
        width: 60%;
    }

    .policy {
        font-size: 18px;
    }

    .policy-info {
        font-size: 12px;
    }

    .availability {
        font-size: 12px;
    }

    .numbers {
        font-size: 12px;
    }

    footer {
        font-size: 8px;
    }
}

@media screen and (min-width: 400px) {
    .numbers {
        justify-content: space-around;
    }
}

@media screen and (max-width: 550px) {
    #up-arrow {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .contact {
        width: 40%;
    }

    #charlie2 {
        display:block;
    }

    .contact-form-container {
        justify-content: space-around;
    }

    .slogan {
        margin: 30px;
        font-size: 48px;
    }

    .headshot {
        width: 250px;
        border-radius: 150px;
    }

    .name {
        font-size: 28px;
    }
    
    .testimonial {
        font-size: 24px;
        color: var(--gray);
    }

    .quote {
        margin: 25px;
    }

    #van {
        box-shadow: 2px 10px 10px #000000;
    }

    .vehicle {
        padding-top: 50px;
    }

    .vehicle-name {
        font-size: 40px;
        margin-top: 50px;
    }
    
    .vehicle-type {
        font-size: 26px;
        margin-bottom: 50px;
    }
    
    .vehicle-details {
        font-size: 32px;
        box-shadow: 2px 10px 10px #000000;
    }


    .policy {
        font-size: 32px;
    }

    .policy-info {
        margin-top: 0;
        border: 1px solid var(--gray);
        word-spacing: 5px;
        border-radius: 5px;
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {

    .vehicle-details {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .detail {
        width: 30%;
        margin: 15px;
    }

    .top {
        height: 200px;
    }

    .header {
        font-size: 60px;
    }
    
    .policy-nav {
        display: block;
        font-size: 28px;
    }

    #charlie {
        height: 150px;
    }

}
